
.icon-users:before { content: '\e800'; } /* '' */
.icon-eq:before { content: '\e802'; } /* '' */
.icon-up-1:before { content: '\e803'; } /* '' */
.icon-down-1:before { content: '\e804'; } /* '' */